/* *{
    scroll-behavior: smooth;
   
    
} */
body {
    margin:0%;
    width:100%;
    background-color: #E2E4F0;
    display: flex;
    flex-direction: column;
    height: 100%;

}
::-webkit-scrollbar{
    display: none;
}

/* ===================== Media Quries================== */
